html, body {
    height: 100%;
    margin: 0;
    }
#container{
    height: 100%;
    width: 100%;
    word-wrap: break-word;


    }
#mytitle{
    color: red;
    font-size: 0px;
    }
/*play button styles borrowed from w3chools https://www.w3schools.com/css/css_link.asp */
#playbutton:link, #playbutton:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

#playbutton:hover, #playbutton:active {
    background-color: red;
}